@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: whitesmoke;
    background-size: cover;
}


/* ---------MENU BAR -1 ------------*/
.menu-bar-1 {
    background: rgba(33,65,215,255);
    text-align: right;
}
.menu-bar-1 ul {
    list-style: none;
    display: inline-flex;
}

.menu-bar-1 a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu-bar-1 a:hover {
    background: turquoise;
}

.menu-bar-1 .fab{
    margin-right: 8px;
    cursor: pointer;
}


.menu-bar-1 ul i{
    width: 10px;
    margin: 0px;
    padding: 5px;
}

.menu-bar-1 ul .user-icon {
    color: rgb(248, 247, 246);
    left: 0px;
    top: 0px;
    position: absolute;
    cursor: pointer;
}
.menu-bar-1 p {
    bottom: 9%;
    position: absolute;
    padding-left: 30px;
}

/* ================ MENUBAR 2 = WRAPPER =============== */

.menu-bar{
  background: #171c24;
  position: sticky;
  width: 100%;
  z-index: 1;
  top: 0;
}
.menu-bar nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 150px;
  display: flex;
}
.content .logo a{
  color: rgb(38, 97, 223);
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #0f4cbe;
}
.menu-bar .search-icon,
.menu-bar .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.menu-bar .menu-icon{
  display: none;
}
.menu-bar #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}
.menu-bar .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.menu-bar #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}


/* ==================FOR SEARCH BOX============== */

.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.menu-bar input[type="checkbox"]{
  display: none;
}

  
  @media screen and (max-width: 1250px){
    .menu-bar nav{
      max-width: 77.3%;
      padding: 0 20px;
    }
  
    .menu-bar .menu-icon{
      left: -10%;
      position: relative;
    }
  
    .GD-form{
      display: none;
    }
    .GD-form-2 {
      display: none;
    }
    .container-GD-2 {
      max-width: 100%;
      padding: 0 20px;
      padding-right: 8%;
      position: relative;
      height: 0px;
      max-width: 105%;
      padding: 0 20px;
    }
  
    .container-GD-2-semi {
      max-width: 100%;
      height: 45%;
      padding: 0 0px;
      font-size: small;
      left: -3%;
      top: 4%;
    }
    .typed-text {
      display: none;
    }
    .container-GD {
      max-width: 105%;
      padding: 0 20px;
    }
    .container-GD-1 {
      max-width: 105%;
      padding: 0 20px;
    }
    .button-next a{
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
      transition: .7s;
      color: #000;
      display: none;
    }
    .button-next a:hover{
      background-color: #ddd;
      color: rgb(9, 64, 202);
      border-radius: 5px;
    }

    .footer {
        max-width: 100%;
        position: relative;
        overflow: hidden;
    }
}

/*==============(DON'T TOUCH) GOOGLE DRIVE PAGE STYLING================ */

.GoogleDrive {
    text-align: center;
    margin: 1;
    width: 80%;
    padding-top: 7%;
  }
  
  
  .GoogleDrive .ggg {
    font-size: 2em;
    padding: 0.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }
  .GoogleDrive p span.typed-text {
    font-weight: normal;
    color: #dd7732;
  }
  .GoogleDrive p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .GoogleDrive p span.cursor.typing {
    animation: none;
  }
  
  /* STYLING===== THE COPY LINK ALERT====== ========*/
  
  #alert-copy{
    border: 2px solid black;
    display: none;
    text-align: center;
    padding-top: 3px;
    margin-top: 20px;
    margin-left: 400px;
    background-color: green;
    color: white;
    width: 100px;
    height: 30px;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }
  
  .container-GD {
    width: 1000px;
    height: 510px;
    border: 1px solid rgb(197, 185, 185);
    border-radius: 10px;
    margin: 3%;
    transition: 0.5s;
  }
  .container-GD:hover {
    box-shadow: 0 0 1500px 0 rgba(112, 55, 55, 0.1);
    cursor: pointer;
  }
  
  .container-GD-1 {
    width: 900px;
    height: px;
    border: 1px solid rgb(197, 185, 185);
    border-radius: 10px;
    margin: 3%;
  }
  .container-GD-2 {
    width: 850px;
    height: 350px;
    border: 1px solid darkblue;
    margin: 3%;
  }
  
  .container-GD-2-semi{
    width: 800px;
    height: 270px;
    border: 1px solid whitesmoke;
    border-radius: 1px;
    margin: 3%;
    position: relative;
    bottom: 9.4%;
    right: 1%;
    background: whitesmoke;
  }
  .Note-Blueback {
    font-weight: bold;
    text-align: justify;
    background: darkblue 0 10px;
    color: rgb(255, 255, 255);
  }
  
  .container-GD-2-semi .Note-GD-first{
    text-align: justify;
    position: relative;
    top: 5%;
  }
  .container-GD-2-semi .Note-GD-second{
    text-align: justify;
    position: relative;
    bottom: -11%;
  }
  

  
  
  /* .GD-form-2 h1 {
    color: #5c4a4a;
    opacity: 10%;
    text-align: center;
    position: relative;
    bottom: -30%
  }
  
  .GD-form-2 p {
    color: #5c4a4a;
    opacity: 20%;
    text-align: center;
    position: relative;
    bottom: -30%;
  }
  .GD-form-2 img {
    bottom: -30%;
    position: relative;
  } */


    /* ===========STYLING FOR G-DRIVE MAIN WORK =========== */
  
  
    .panel-title svg{ 
        vertical-align: middle;
        padding-right: 12px;
      } 
      .panel-body { 
        margin: 0px 45px 0 18px; 
      }
      .panel-primary { 
        border-top:none; 
        border: 1px solid #222;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border-radius: 4px;
      } 
      .Drive-container{ 
        padding-right: 15px; 
        padding-left: 15px; 
        margin-right: auto; 
        margin-left: auto;
      } 
      .Dbtn-primary { 
        color: #fff; 
        background-color: #1f59a4; 
        padding: 6px 12px;
        text-align: center; 
        vertical-align: middle; 
        border:0; 
        margin-top: 12px; 
        cursor: pointer;
      } 
      .form-control {
        display: block; 
        width: 100%; 
        height: 34px; 
        padding: 6px 12px; 
        font-size: 14px; 
        line-height: 1.42857143; 
        color: #555; 
        background-color: #fff; 
        background-image: none; 
        border: 1px solid #222; 
        border-radius: 4px; 
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
        -webkit-transition: border-color ease-in-out .15s,
        -webkit-box-shadow ease-in-out .15s; 
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
      }
      
      .form-group { 
        margin-bottom: 50px; 
      }
      
      .panel-title {
        background: #197fdd; 
        padding: 5px 12px;
        display: flex; 
        vertical-align: middle;
        border: 1px solid #4688F4; 
        text-align: left;
        color:#fff; 
        font-size: 18px; 
        box-shadow: 0 1px 1px rgba(0,0,0,.05); 
      } 
      #mainpanel { 
        margin-top: 70px; 
      } 
      img { 
        max-width: 100%; 
        height: auto;
      }
          
  
  /* ==================FOR TOGGLE UP AND DOWN ==================== */
  
  container-GD-1{
    width: 45%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
  }
  .wrapper{
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 15px 40px;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(0,0,50,0.2);
  }
  .toggle,
  .words{
    font-family: "Poppins",sans-serif;
  }
  .toggle{
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #111130;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
  }
  .words{
    position: relative;
    font-size: 14px;
    text-align: justify;
    line-height: 30px;
    height: 0;
    overflow: hidden;
    transition: all 1s;
  }
    
  
  @media screen and (max-width: 900px){
    .menu-bar .menu-icon{
      display: block;
    }
    
    .menu-bar #show-menu:checked ~ .menu-icon i::before{
      content: "\f00d";
    }
    nav .content .links{
      display: block;
      position: fixed;
      background: #14181f;
      height: 100%;
      width: 100%;
      top: 70px;
      left: -100%;
      margin-left: 0;
      max-width: 350px;
      overflow-y: auto;
      padding-bottom: 100px;
      transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
      left: 0%;
    }
    .content .links li{
      margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
      line-height: 40px;
      font-size: 20px;
      display: block;
      padding: 8px 18px;
      cursor: pointer;
    }
    .content .links li a.desktop-link{
      display: none;
    }
    .GoogleDrive .ggg {
        padding-left: 20%;
    }
    .gg {
        padding-left: 20%;
    }
}

  @media screen and (max-width: 400px){
    .menu-bar nav{
      padding: 0 10px;
    }
    .content .logo a{
      font-size: 27px;
    }
    .menu-bar .search-box{
      max-width: calc(100% - 70px);
    }
    .menu-bar .search-box .go-icon{
      width: 30px;
      right: 0;
    }
    .menu-bar .search-box input{
      padding-right: 30px;
    }
  }
  
    /*============== FOOTER ================== */

/* footer */
.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  .footer p {
    color: #ccc0c0;
  }
  .footer h3 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .footer-col-1 {
    flex-basis: 30%;
    text-align: center;
  }
  
  .app-logo {
    margin-top: 20px;
    text-align: center;
  }
  .app-logo img {
    width: 140px;
    cursor: pointer;
    transition: .9s;
  }
  .app-logo img:hover {
    background-color: rgb(194, 35, 35);
    border-radius: 50%;
  }
  
  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  .copyright {
    text-align: center;
  }
  .footer .Footer-CP {
    position: relative;
    text-align: center;
  }